@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 dark:bg-charcoal-dark;
}

h1 {
  @apply font-medium leading-tight text-3xl mb-5 text-gray-800 dark:text-gray-300;
}

h2 {
  @apply font-medium leading-tight text-xl mb-5 text-gray-800 dark:text-gray-300;
}

h3 {
  @apply font-medium leading-tight text-lg mb-5 text-gray-800 dark:text-gray-300;
}

h4 {
  @apply font-bold leading-tight text-lg mb-5 text-gray-800 dark:text-gray-300;
}

p {
  @apply text-gray-900 dark:text-white mb-5;
}

ul {
  @apply dark:text-white text-gray-600
}

hr {
  @apply h-px my-3 bg-gray-200 border-0 dark:bg-gray-700;
}


@layer components {
    .btn-primary {
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
    }
    .section-icon {
        @apply h-32 w-32 mb-6;
    }
}
